<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script type="text/javascript" th:src="@{/js/functions.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<a href="/"><h2>Add User</h2></a>
<form id="addform">
    <input type="text" id="username" value="">
    <input type="submit" value="Opret">
</form>

<div id="status">

</div>
<script type="text/javascript">
    checkjQuery();
    preventAddForm($("#addform")); // find form via jQuery og kald på metoden
</script>

</body>
</html>