<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<!--
<div>
    <h1>Opret User</h1>
    <form class="forms" action="#" th:action="@{/createUser}" th:object="${createUser}"
          method="post">
        <table>
            <tr>
                <td><label for="name">User Name:</label></td>
                <td><input type="text" th:field="*{userName}" name="name" id="name"/></td>
            </tr>
        </table>
    </form>
    <button  type="submit" value="Opret">Opret</button>
</div>
-->
<div>

        <tr th:each="user : ${user}">
            <td th:text="${user.getUserName}"></td>
        </tr>

</div>

</body>
</html>